extends layout

block content
  h1 Create Attribute 
  form(action='/api/attribute', method='post')
    input(type='text', name='name', placeholder='Name')
    br
    select(name='type')
      option String
      option Number 
      option Object 
      option Array 
    br
    input(type='text', name='value', placeholder='Value')
    br
    input(type='text', name='parentId', placeholder='Parent Id')
    br

    input(type='submit', value='Create Attribute')